<html>
    <h1> Welocme to our page </h1>
    <body>
        <form action="predict" method="post">
        
        <label> mean radius </label> <input type="text" name="mean radius"> <br> </br>
        <label> mean texture </label> <input type="text" name="mean texture"> <br> </br>
        <label> mean perimeter </label> <input type="text" name="mean perimeter"> <br> </br>
        <label> mean area </label> <input type="text" name="mean area"> <br> </br>
        <label> mean smoothness </label> <input type="text" name="mean smoothness"> <br> </br>
        <label> mean compactness </label> <input type="text" name="mean compactness"> <br> </br>
        <label> mean concavity </label> <input type="text" name="mean concavity"> <br> </br>
        <label> mean concave points </label> <input type="text" name="mean concave points"> <br> </br>
        <label> mean symmetry </label> <input type="text" name="mean symmetry"> <br> </br>
        <label> mean fractal dimension </label> <input type="text" name="mean fractal dimension"> <br> </br>
        <label> radius error </label> <input type="text" name="radius error"> <br> </br>
        <label> texture error </label> <input type="text" name="texture error"> <br> </br>
        <label> perimeter error </label> <input type="text" name="perimeter error"> <br> </br>
        <label> area error </label> <input type="text" name="area error"> <br> </br>
        <label> smoothness error </label> <input type="text" name="smoothness error"> <br> </br>
        <label> compactness error </label> <input type="text" name="compactness error"> <br> </br>
        <label> concavity error </label> <input type="text" name="concavity error"> <br> </br>
        <label> concave points error </label> <input type="text" name="concave points error"> <br> </br>
        <label> symmetry error </label> <input type="text" name="symmetry error"> <br> </br>
        <label> fractal dimension error </label> <input type="text" name="fractal dimension error"> <br> </br>
        <label> worst radius </label> <input type="text" name="worst radius"> <br> </br>
        <label> worst texture </label> <input type="text" name="worst texture"> <br> </br>
        <label> worst perimeter </label> <input type="text" name="worst perimeter"> <br> </br>
        <label> worst area </label> <input type="text" name="worst area"> <br> </br>
        <label> worst smoothness </label> <input type="text" name="worst smoothness"> <br> </br>
        <label> worst compactness </label> <input type="text" name="worst compactness"> <br> </br>
        <label> worst concavity </label> <input type="text" name="worst concavity"> <br> </br>
        <label> worst concave points </label> <input type="text" name="worst concave points"> <br> </br>
        <label> worst symmetry </label> <input type="text" name="worst symmetry"> <br> </br>
        <label> worst fractal dimension </label> <input type="text" name="worst fractal dimension"> <br> </br>
        <label> SUBMIT </label> <input type="SUBMIT">

        </form>
        {{ result }}
    </body>
</html>